@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  padding-top: 62px;
  padding-bottom: 62px;
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 102px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 152px;
    padding-bottom: 152px;
  }
}
.section-hero {
  padding-top: 92px;
  padding-bottom: 62px;
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 102px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 152px;
    padding-bottom: 152px;
  }
}
.section-bg {
  background-image: url("/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-bg-happy {
  background-image: url("/images/happy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drink-price {
  position: relative;
}
.drink-price::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -120px;
  width: 100px;
  height: 1px;
  background-color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .drink-price::before {
    width: 50px;
    left: -60px;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
/* .css-1n8wj59-MuiInputBase-root-MuiOutlinedInput-root {
  color: #f5efdb;
} */

/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover {
  border-color: red;
} */
