@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  padding-top: 62px;
  padding-bottom: 62px;
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 102px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 152px;
    padding-bottom: 152px;
  }
}
.section-bg {
  background-image: url("/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-bg-happy {
  background-image: url("/images/happy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .special-drinks {

} */
.drink-price {
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
